nav.Menu {
    margin-left: 0;
    margin-right: 10px;
    float: right;
    margin-top:30px;
}
nav{
    margin: 0;
    margin-left: 200px;
    display: inline-block;
    list-style: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.Nav-Btn{
    text-decoration: none;
    color:white;
    margin-right:40px;
}