nav.Menu {
    margin-left: 0;
    margin-right: 10px;
    margin-top:30px;
}
nav{
    margin: 0;
    margin-left: 200px;
    display: inline-block;
    list-style: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.Nav-Btn{
    text-decoration: none;
    margin-right:40px;
}
.Display-User{
    margin-right:20px;
    font-weight:18;
}
@media only screen and (min-width:715px){
    nav.Menu{
        float: right;
    }
    .Nav-Btn{
        color:white;
    }
    .Display-User{
        color:white;
    }
}
@media only screen and (max-width:714px){
    .Nav-Btn{
        color:black;
    }
    .Display-User{
        color:black;
    }
    nav.Menu{
        float: left;
    }
}