.GetPlants-Container{
    width:100%;
    display:flex;
    justify-content: center;
    min-width:500px;
}
#Plant-Input-Form{
    width:100%;
    margin-top:50px;
}
.GetPlants-Input{
    width:40%;
    min-width:450px;
    height:30px;
    font-size:18px;
    padding-left:10px;
}
.Submit-Btn{
    width:100px;
    height:40px;
    font-size:24px;
    border-radius:10px;
}
.Result-Container{
    margin-top:30px;
    width:100%;
    display:flex;
    align-content: space-around;
    flex-wrap: wrap;
}
@media only screen and (min-width: 500px){
    .Submit-Btn{
        margin-left:20px;
    }
}
@media only screen and (min-width:800px){
    .GetPlants-Input{
        margin-left:50px;
    }
}